# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Commonly used libraries 
- Data Science Tools
- Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. TensorFlow
4. Apache Spark
5. Scala libraries

| Data Science Tools |
| ------------------ |
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expresison to multiple then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Sarah Lee